name: CI Voll Med

on: 
  push:
    branches: ["main"]
  pull_request: 
    branches: ["main"]
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Configura JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Configure Docker Compose
      run:

    - name: Roda Docker Compose
      run: docker-compose up -d

    - name: Executa Testes Unitarios
      run: mvn -B verify
      
